#root div {
  box-shadow: 0px 0px 0px 1px black;
  padding: 5px;
}

/* ---------------------------------------------------------------------------------------------------- */

#root .EmailCashPanel {
  left: 30px;
  bottom: 70px;
  z-index: 99999;
  position: fixed;
  background-color: white;
  width: 90%;
  height: calc(100% - 170px);
  max-height: 600px;
}

#root .EmailCashPanel.small {
  height: 42px;
}

/* -------------------------------------------------- */

#root .EmailCashPanel .Header {
  color: whitesmoke;
  background-color: black;
}

#root .EmailCashPanel .Header>div {
  display: inline-block;
  box-shadow: none;
}

#root .EmailCashPanel .Header .OperatorLabel>span {
  box-shadow: 0px 0px 0px 1px cyan;
  margin-left: 10px;
  padding: 7px 10px;
}

#root .EmailCashPanel .Header .ProfileLabel>span {
  box-shadow: 0px 0px 0px 1px greenyellow;
  margin-left: 10px;
  padding: 7px 10px;
}

#root .EmailCashPanel .Header .TimerLabel>span {
  box-shadow: 0px 0px 0px 1px red;
  margin-left: 10px;
  padding: 7px 10px;
}

#root .EmailCashPanel .Header .controls {
  position: absolute;
  right: 10px;
  top: 7px;
}

#root .EmailCashPanel .Header .controls div {
  padding: 0px;
  box-shadow: none;
}

#root .EmailCashPanel .Header .controls span {
  margin-left: 10px;
}

#root .EmailCashPanel .Header .controls input {
  margin: 2px 5px 0px 5px;
}

/* -------------------------------------------------- */

#root .EmailCashPanel .LoggerPanel {
  overflow: auto;
  width: calc(100% - 10px);
  height: calc(100% - 10px - 42px);
  max-height: calc(600px - 10px - 42px);
  background-color: whitesmoke;
}